header  {
	background-color: grey;
	margin: 0 5px;
}

section {
	background-color: blue ;

}

.corps{
	margin: 0 8%;
}

.categorie {

background-color: red;
}

.ui.grid {
	background-color: pink;
	margin:10px;
}

.column { background-color: yellow;
	margin:10px;
}
/*HEADER*/
.navbar {
  margin-top: 10px;
  margin-left: 8px;
}
.navbar-brand {
  display: flex;
  justify-content: flex-start;
}
.top .logo {
  height:34px;
  width:34px;
  display:block;
  fill: #FF5A5F;
}
.collapse {
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  padding: 0 0.4rem;
  font-size: 12px;
  font-weight: 700;
  margin-right: 6px;
  margin-top: 3px;
  letter-spacing: 0.5px;
}

.navbar-nav a:hover {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(118, 118, 118);
  padding-bottom: 2px;
}
img{
weight:15em;
height:15em;
}
/* change the brand and text color */
.navbar-custom .navbar-text {
color: #484848

}
/* change the link color */
.navbar-custom .navbar-nav .nav-link{
	 color: #484848;
}
/* change the color of active or hovered links */
.navbar-custom .nav-link{

	 color: #484848;
}


.navbar-custom .nav-item:hover .nav-link {
  color: #484848;
}
/*CORPS*/

/*FOOTER*/
.menu_bottom .logo{
	width:34px;
	height:34px;
}

.center{
	display: flex;
	align-items: center;
	width: 244px;
	height: 48px;
	margin: 11px;
}

.list-group-item{
	list-style-type: none;
	background-color: transparent;
	border: none;
	color: black;
}

.list-group-item a{
	color: black;
}

footer{
	margin-left: 10%;
	margin-right: 10%;
}


.branding{
	display: flex;
	justify-content: flex-start;
}

.test{
	background-color: red;
	display: flex;
	justify-content: flex-end;
}

.line{
	width: 110%;
	height: 1px;
	background-color: grey;
	margin-top: 2%;
	margin-bottom: 2%;
}
.ui.menu.bottom {

	border-top: 1px solid grey;
}

.item svg {
	height:1.4em;
	width:1.4em;
	display: block;
	fill: rgb(118, 118, 118);
}

.navbar-nav a:hover{
	text-decoration: underline;
}

footer * {
	background-color: transparent!important;
}

footer a {
	color: grey;
}
