header, footer {
	background-color: grey;
}

section {
	background-color: blue ;
	margin: 10px;

}
.categorie {

background-color: red;
}

.row {
	background-color: pink;
	margin:10px;
}

.col { background-color: yellow; 
	margin:10px;
}
#logo{
	width:34px;
	height:34px;
}

.center{
	display: flex;
	align-items: center;
	width: 244px;
	height: 48px;
	margin: 11px;
}

.list-group-item{
	list-style-type: none; 
	background-color: transparent;
	border: none;
	color: black;
}

.list-group-item a{
	color: black;
}

footer{
	margin-left: 10%;
	margin-right: 10%;
	
}

.branding{
	display: flex;
	justify-content: flex-start;
}

.test{
	background-color: red;
	display: flex;
	justify-content: flex-end;
}

.line{
	width: 100%;
	height: 1px;
	background-color: grey;
	margin-top: 2%;
	margin-bottom: 2%; 
}

.nav-link svg {
	height:1.4em;
	width:1.4em;
	display: block; 
	fill: rgb(118, 118, 118);
}

.navbar-nav a:hover{
	text-decoration: underline;
}

